<%- include("header") -%>
<a href="/">Home</a>
<a href="/register">Register</a>
<a href="/login">Login</a>
<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>
<%- include("footer") -%>
