<%- include("header") -%>
<a href="/">Home</a>
<h1><%= error %>
    <form  action="/login" method="post">
    <input  type="email" name="email" placeholder="Enter Email ID"></br>
    <input  type="password" name="password" placeholder="Enter Your Password"></br>
    <button  type="submit">Submit</button>
    </form>
    </h1>
<%- include("footer") -%>
